
.navbar-logo {
  float: left;
  padding: 10px;
  margin-left: 5px;
}
.navbar-logo-right {
  float: right !important;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.sidenav-container {
  height: calc(100% - 81.13px);
}
.sidenav-card {
  box-shadow: none !important;
  height: 100%;
}

.sidenav-actions {
  position: sticky;
  bottom: 2px;
  background-color: white;
  text-align: center;
}
.sidenav {
  width: 350px;
  padding: 20px;
  margin: 15px;
  margin-top: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.card-padding {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 35px;
}

.card-subtitle {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.card-subtitle-left {

}

.card-subtitle-right {

}


.form-class {
  text-align: center;
}

.checkbox-div {
  display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 10px;
}

.card-score-div {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.card-score {
  font-size: 20px;
}

.form-width-100 {
  margin-right: 15px;
  width: 100px;
}
.form-width-200 {
  margin-right: 15px;
  width: 215px;
}
.score-green {
  color: darkgreen;
}

.score-red {
  color: darkred;
}

.accepted-tick {
  color: green;
  position: relative;
  top: 4px;
  font-size: 20px;
}

.paginator-div {
  position: sticky;
  bottom: 0;
}

.sidenav-content {
  position: relative;
}
