<nav class="navbar navbar-expand-lg navbar-light bg-light noselect">
  <div class="navbar-logo">
    <a >
      <img style="width: 200px;" src="./assets/images/teamwave.png">
    </a>
  </div>

  <!-- <form class="example-form" [formGroup]="parameterForm" (submit)="newQuery()">
    <mat-form-field class="example-full-width" >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"
             placeholder="Ex. pat@example.com">
    </mat-form-field>


      <button mat-icon-button  (click)="openSearch()" type="submit">
        <mat-icon>search</mat-icon>
    </button>

  </form> -->
</nav>
<mat-sidenav-container class="sidenav-container noselect">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenav">

    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>Advanced Search</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>

        <div>

          <form id="parameterForm" [formGroup]="parameterForm" (submit)="newQuery()" class="form-class">

            <div>
              <mat-form-field class="form-width-200">
                <mat-label>Search</mat-label>
                <input matInput formControlName="q">
              </mat-form-field>
            </div>

            <div>

              <mat-form-field class="form-width-100">
                <mat-label>Sort By</mat-label>
                <mat-select formControlName="sort">
                  <mat-option *ngFor="let sortingCriterion of sortingCriteria" [value]="sortingCriterion.value">
                      {{sortingCriterion.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-width-100">
                <mat-label>Order</mat-label>
                <mat-select formControlName="order">
                  <mat-option *ngFor="let order of sortingOrders" [value]="order.value">
                      {{order.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div>
              <mat-checkbox formControlName="accepted"  class="form-width-100">Accepted</mat-checkbox>
              <mat-checkbox formControlName="closed"  class="form-width-100">Closed</mat-checkbox>
            </div>


            <div>
              <mat-form-field class="form-width-200">
                <mat-label>Tagged</mat-label>
                <input matInput formControlName="tagged" placeholder="Semicolon seperated tags">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="form-width-200">
                <mat-label>Untagged</mat-label>
                <input matInput formControlName="untagged" placeholder="Semicolon seperated tags">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="form-width-100">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
              </mat-form-field>

              <mat-form-field class="form-width-100">
                <mat-label>Body</mat-label>
                <input matInput formControlName="body">
              </mat-form-field>
            </div>

            <div>


              <mat-form-field class="form-width-100">
                <mat-label>Minimum Answers</mat-label>
                <input matInput type="number" formControlName="answers">
              </mat-form-field>

              <mat-form-field class="form-width-100">
                <mat-label>Minimum Views</mat-label>
                <input matInput type="number" formControlName="views">
              </mat-form-field>
            </div>

          <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Additional Parameters
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
              <mat-label>From date</mat-label>
              <input #fromDateInput matInput [matDatepicker]="fromDatePicker" (dateChange)="convertToTimestamp($event, parameterForm.controls.fromdate)">
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>To date</mat-label>
              <input #toDateInput matInput [matDatepicker]="toDatePicker" (dateChange)="convertToTimestamp($event, parameterForm.controls.todate)">
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Minimum date</mat-label>
              <input #minInput matInput [matDatepicker]="minPicker" (dateChange)="convertToTimestamp($event, parameterForm.controls.min)">
              <mat-datepicker-toggle matSuffix [for]="minPicker"></mat-datepicker-toggle>
              <mat-datepicker #minPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Maximum date</mat-label>
              <input #maxInput matInput [matDatepicker]="maxPicker" (dateChange)="convertToTimestamp($event, parameterForm.controls.max)">
              <mat-datepicker-toggle matSuffix [for]="maxPicker"></mat-datepicker-toggle>
              <mat-datepicker #maxPicker></mat-datepicker>
            </mat-form-field>


              <mat-form-field class="form-width-100">
                <mat-label>User</mat-label>
                <input matInput formControlName="user">
              </mat-form-field>

              <mat-form-field class="form-width-100">
                <mat-label>URL</mat-label>
                <input matInput formControlName="url">
              </mat-form-field>

            <div>
              <mat-checkbox formControlName="migrated" class="form-width-100">Migrated</mat-checkbox>
              <mat-checkbox formControlName="notice" class="form-width-100">Notice</mat-checkbox>
              <mat-checkbox formControlName="wiki" class="form-width-100">Wiki</mat-checkbox>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        </form>
      </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="resetQuery(); fromDateInput.value=''; toDateInput.value=''; minInput.value=''; maxInput.value=''">Reset</button>
        <button mat-raised-button color="primary" type="submit" form="parameterForm">Apply</button>
      </mat-card-actions>
    </mat-card>

  </mat-sidenav>


  <mat-sidenav-content>
    <div class="card-padding" *ngFor="let item of receivedQueryArray">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar style="background-size: cover; cursor: pointer;"
          [ngStyle]="{'background-image': getUserData(item.owner) ? 'url(' + item.owner.profile_image + ')': 'url(' + './assets/images/anonymous-icon.jpg' +')'}"
          (click)="getUserData(item.owner) && openLink(item.owner.link)">
          </div>
          <mat-card-title (click)="openLink(item.link)" style="cursor: pointer;">
            <mat-icon class="accepted-tick" *ngIf="item.is_answered" matTooltip="Answered">check_circle</mat-icon>
              {{item.title}}
          </mat-card-title>
          <mat-card-subtitle>
            <div class="card-subtitle">
              <a class="card-subtitle-left" (click)="getUserData(item.owner) && openLink(item.owner.link)" style="cursor: pointer;">
                {{item.owner.display_name}}
              </a>
              <div class="card-subtitle-right">

              </div>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <!--   <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content> -->
        <mat-card-actions>

          <div class="card-subtitle">
            <div class="card-score-div">
              <a class="card-score" [ngClass]="{'score-green': item.score > 0, 'score-red': item.score < 0}">
                <a *ngIf="item.score > 0">+</a>
                {{item.score}}
              </a>
            </div>
            <div class="card-subtitle-left">
              <div >
                <button mat-button *ngFor="let tag of item.tags" (click)="searchTag(tag)">{{tag}}</button>
              </div>
            </div>
            <div class="card-subtitle-right card-score-div">
                <div>
                <mat-icon matTooltip="Answers">
                  question_answer
                </mat-icon> {{item.answer_count}}
                <mat-icon matTooltip="Views">
                  remove_red_eye
                </mat-icon> {{item.view_count}}
                <mat-icon matTooltip="Date Created">
                  date_range
                </mat-icon> {{item.creation_date* 1000 | date}}
              </div>
            </div>
          </div>
        </mat-card-actions>

      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<mat-paginator [length]="10000"
[pageSize]="10"
(page)="pageEvent($event)"
>
</mat-paginator>
